<?xml version="1.0" encoding="utf-8"?>
<!--
http://developer.android.com/guide/topics/data/install-location.html

1.1.2:
- Corrected Wave 8 UK alternative 1 (Thanks Rory)

1.1.1:
- Added Wave 8 UK alternative 2

1.1:
- added Wave 8 UK alternative 1
- added progress-numbers
- added disclamer
//-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.frankkie.bronymlpblindbagguide"
    android:installLocation="preferExternal"
    android:versionCode="6"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CodeActivity" />
        <activity android:name=".WaveActivity" />
        <activity android:name=".CreditsActivity" />
        <activity android:name=".TutorialActivity" />
    </application>

</manifest>
